name: ci

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: "6.7.3"
          modules: "qt5compat"
          archives: "qtbase qtbase-private qttools"

      - name: Install ICU 73 (Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: |
          echo "deb http://old-releases.ubuntu.com/ubuntu/ mantic main universe" | sudo tee /etc/apt/sources.list.d/icu73.list
          sudo apt-get update
          sudo apt-get install -y libicu73

      - name: Configure
        run: cmake -S . -B build -DAMCS_BUILD_TESTS=ON -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --config Release
